# 파이썬 스타일 코드2 - 연습해보기

## 실습코드

## 1. 람다함수
람다(lambda) 함수는 함수의 이름 없이, 함수처럼 사용할 수 있는 익명의 함수를 말한다. 선형대수나 미적분 등의 과목을 수강하다 보면, 한 번쯤 람다 대수라는 표현을 들어 보았을 것이다. 람다 함수의 '람다'는 바로 이 람다 대수에서 유래하였다. 일반적으로 람다 함수는 이름을 지정하지 않아도 사용할 수 있다.

### 1.1. 기존함수

In [1]:
def f(x,y):
    return x + y

print(f(1,4))

5

### 1.2. lambda 함수 할당

In [2]:
f=lambda x,y: x + y
print(f(1,4))

5

### 1.3. 익명의 lambda 함수

In [3]:
print((lambda x, y:x + y)(1, 4))

5

# 2. 맵리듀스

## 2.1. map 함수
연속 데이터를 저장하는 시퀀스 자료형에서 요소마다 같은 기능을 적용할 때 사용한다. 일반적으로 리스트나 튜플처럼 요소가 있는 시퀀스 자료형에 사용된다. 다음의 사용 예제를 보자.

In [5]:
ex = [1,2,3,4,5]
f = lambda x:x**2
print(list(map(f, ex)))

[1, 4, 9, 16, 25]

코드 설명
- 위 코드에서는 먼저 ex라는 이름의 리스트를 만들고, 입력된 값을 제곱하는 람다함수 f를 생성하였다. 그리고 'map(함수이름, 리스트 데이터)'의 구조에서 map(f,ex) 코드를 실행한다. 이는 해당 코드로 함수 f를 ex의 각 요소에 매핑하라는 뜻이다.
- 파이썬 2.x와 3.x의 차이는 제너레이터의 사용인데 3.x 부터는 map()함수의 기본 반환이 제너레이터이므로 list() 함수를 사용해야 리스트로 반환된다.
- 제너레이터(generator)는 시퀀스 자료형의 데이터를 처리할 때, 실행 시점의 값을 생성하여 효율적으로 메모리를 관리할 수 있다는 장점이 있따.
- 만일 list를 붙이지 않는다면, 다음 코드처럼 코딩할 수도 있다. 여기서 함수는 반드시 람다함수일 필요는 없고, 일반 함수를 만들어 사용해도 문제 없다.

In [6]:
ex = [1, 2, 3, 4, 5]
[x**2 for x in ex]

[1, 4, 9, 16, 25]

In [7]:
ex=[1,2,3,4,5]
f=lambda x,y:x+y
list(map(f,ex,ex))

[2, 4, 6, 8, 10]

In [8]:
[x+y for x,y in zip(ex,ex)] # 리스트 컴프리헨션 용법

[2, 4, 6, 8, 10]


## 2.2. reduce 함수
- map() 함수와 다르지만 형제처럼 사용하는 함수로 리스트와 같은 시쿼스 자료형에 차례대로 함수를 적용하여 모든 값을 통합하는 함수이다.
- lambda 함수와 함께 쓰여 좀 복잡해 보여 예전에는 많이 쓰였으나 최근 버전에서는 사용을 권장하지 않는다. 그러나 많은 코드들이 여전히 사용하고 있어 이해차원에서 배울 필요가 있다.

In [9]:
from functools import reduce
print(reduce(lambda x,y:x+y, [1,2,3,4,5]))

15

In [10]:
x=0
for y in [1,2,3,4,5]:
    x += y
print(x)

15

# 3. 별표의 활용

### 3.1. 가변 인수로 활용¶
가변 인수

In [11]:
def asterisk_test(a, *args):
    print(a,args)
    print(type(args))

asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [12]:
def asterisk_test(a,**kargs):
    print(a,kargs)
    print(type(kargs))
asterisk_test(1,b=2,c=3,d=4,e=5,f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

### 3.2. 별표의 언패킹 기능
함수에서의 사용

In [13]:
def asterisk_test(a,args):
    print(a,*args)
    print(type(args))
asterisk_test(1,(2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [14]:
def asterisk_test(a,args):
    print(a,args)
    print(type(args))
asterisk_test(1,(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [15]:
a,b,c=([1,2], [3,4], [5,6])
print(a,b,c)
data=([1,2], [3,4], [5,6])
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [16]:
for data in zip(*[[1,2],[3,4],[5,6]]):
    print(data)
    print(type(data))

(1, 3, 5)
<class 'tuple'>
(2, 4, 6)
<class 'tuple'>

In [17]:
def asterisk_test(a,b,c,d):
    print(a,b,c,d)
data={"b":1, "c":2, "d":3}
asterisk_test(10, **data)

10 1 2 3

## 4. 선형대수학

### 4.1. 파이썬 스타일 코드로 표현한 벡터

In [18]:
vector_a=[1,2,10]  # 리스트로 표현한 경우
vector_b=(1,2,10)   # 튜플로 표현한 경우
vector_c={'x':1, 'y':2, 'z':10}  # 딕셔너리로 표현한 경우

In [19]:
u=[2,2]
v=[2,3]
z=[3,5]
result=[]

for i in range(len(u)):
    result.append(u[i]+v[i]+z[i])
print(result)

[7, 10]

In [20]:
u=[2,2]
v=[2,3]
z=[3,5]
result=[sum(t) for t in zip(u,v,z)]
print(result)

[7, 10]

In [21]:
def vector_addition(*args):
    return [sum(t) for t in zip(*args)]   # unpacking 통해 zip(u,v,z) 효과를 낼 수 있음.

vector_addition(u,v,z)

[7, 10]

In [22]:
a = [1, 1]
b = [2, 2]

[x + y for x, y in zip(a, b)]

[3, 3]

In [23]:
u=[1,2,3]
v=[4,4,4]

alpha=2

result=[alpha*sum(t) for t in zip(u,v)]
result

[10, 12, 14]

### 4.2. 파이썬 스타일코드로 표현한 행렬
딕셔너리로 표현하는 경우 좌표정보나 이름정보를 넣을 수 있으나 복잡함

In [24]:
matrix_a=[[3,6], [4,5]] #리스트로 표현한 경우
matrix_b=[(3,6), (4,5)] #튜플로 표현한 경우
matrix_c={(0,0):3, (0,1):6, (1,0):4, (1,1):5}  #디셔너리로 표현한경우

In [25]:
matrix_a=[[3,6], [4,5]]
matrix_b=[[5,8], [6,7]]

result=[[sum(row) for row in zip(*t)] for t in zip(matrix_a, matrix_b)]
print(result)

[[8, 14], [10, 12]]

# 일반문제
## 주민등록번호로 성별 찾기 with map
PR6에서 split을 활용하여 주민등록번호 뒷자리의 맨 첫 번째 숫자를 추출하여 성별을 알아내는 과정을 구현하였다. 이번에는 여러개의 요소를 가지는 다음과 같은 리스트에서 성별을 찾는 과정을 맵리듀스를 이용해 간단하게 구현해보자.

In [26]:
pins = ["891120-1234567", "931120-2335567", "911120-1234234", "951120-1234567"]


list(map(lambda x: x.split("-")[1][0], pins))

['1', '2', '1', '1']

# 도전문제
## 벡터의 내적

In [27]:
a = [1, 2]
b = [3, 4]

dot = lambda a,b : sum([x*y for x, y in zip(a, b)])

dot(a,b)

11